.quote {
  align-items: flex-end;
  background-color: var(--green-100);
  border: 2px solid var(--gray-200);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: var(--spacing-2);
  position: relative;
  row-gap: var(--spacing-2);

  @media (width >= 48rem) {
    padding: var(--spacing-3);
  }
}

.quoteIcon {
  bottom: -0.938rem;
  font-size: var(--text-80);
  left: 0;
  opacity: 0.2;
  position: absolute;
  rotate: 180deg;

  @media (width >= 48rem) {
    bottom: -1.25rem;
    font-size: 5.625rem;
  }
}

.quoteContent {
  align-self: flex-start;
  font-size: var(--text-18);
  font-style: italic;

  @media (width >= 64rem) {
    font-size: var(--text-20);
  }
}

.quoteError {
  text-align: center;
  width: 100%;
}
